<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Reachy Dashboard</title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="../assets/css/material-icons.css" />
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
</head>


<body class="">
  <div class="wrapper ">

    <div class="sidebar" data-color="purple" data-background-color="white" >
      <div class="logo"><a href="#" class="simple-text logo-normal">Reachy</a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wifi">
              <i class="material-icons">wifi</i>
              <p>WiFi Settings</p>
            </a>
          </li>
          <li class="nav-item active-pro ">
            <a class="nav-link" href="/halt">
              <i class="material-icons">power_setting_new</i>
              <p>Halt</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/api/info">
              <i class="material-icons">info</i>
              <p>Info</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <h3>Check if Reachy needs an update</h3>
            </div>
            </div>
        </nav>

        <div class="content">
          <div class="container-fluid">
            <div class="row" id="reachyUpdate"></div>
          </div>
        </div>
      </div>
    </div>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>


<script>
    const UpdateReachy = () => {
        const request = new XMLHttpRequest();
        request.open("GET", "/api/update-reachy");
        request.send();
        alert('Your Reachy is now updated');
        location.reload();  
    }
</script>

<input type="button" class="btn btn-primary" id="btn" value="Update" onclick="UpdateReachy()" style="position: absolute ; left:40%; top:100%">

<script>
    const refreshStatus = () => {
      const partsStatus = document.getElementById("reachyUpdate");
      const request = new XMLHttpRequest();
      request.onload = () => {
        const status = JSON.parse(request.response);

        partsStatus.appendChild(simpleCard(status));
      }
      request.open("GET", "/api/info-update");
      request.send();
    };

    const simpleCard = (status) => {
        const materialIcon = {"OK": "check_circle", "NOT_OK": "highlight_off"}[status];
        const textStatus = {"OK": "Reachy is up-to-date.", "NOT_OK": "Reachy is outdated, please update."}[status];
        const headerStatus = {"OK": "success", "NOT_OK": "warning"}[status];

        const card = document.createElement("div");
        card.className = "card card-stats";
        const cardHeader = document.createElement("div");
        cardHeader.className = `card-header card-header-${headerStatus} card-header-icon`;
        const cardIcon = document.createElement("div");
        cardIcon.className = "card-icon";
        const iconMaterial = document.createElement("i");
        iconMaterial.className = "material-icons";
        iconMaterial.innerHTML = materialIcon;
        cardIcon.appendChild(iconMaterial);
        cardHeader.appendChild(cardIcon);
        const cardText = document.createElement("h4");
        cardText.style = "text-align:right";
        cardText.className = "card-title";
        cardText.innerHTML = textStatus;
        card.appendChild(cardHeader);
        card.appendChild(cardText);

        if (status == "NOT_OK"){
            const footerButton = document.getElementById("btn");
            card.appendChild(footerButton);
        }  

        const wrapper = document.createElement("div");
        wrapper.className = "col-md-4";
        wrapper.appendChild(card);

        return wrapper;
    }
    window.onload = refreshStatus;
  </script>

</body>
</html>